In [19]:
import sqlite3

In [36]:
PATH = "C:\\Users\\Owner\\Desktop\\DEVOPS_COURSE\\SQL_practice\\"
FILENAME = "Inventory.db"
FILE = PATH + FILENAME

In [37]:
def set_sql_connection():
    """
    This function will create connection to a database, using sqlite3 module
    This function returns a Connection object 
    """
    con = sqlite3.connect(FILE)
    return con

In [38]:
def set_cursor(con):
    """
    This function will create a Cursor object, once a connection had been made using set_sql_connection
    IN: con
    TYPE: sqlite3.connect
    OUT: cur
    TYPE: sqlite3.connect.cursor
    """
    cur = con.cursor()
    return cur

In [39]:
def close_sql_connection(con):
    """
    This function will commit any changes to an open sql connection and closes it.
    IN: con
    TYPE: sqlite3.connect 
    """
    con.commit()
    con.close()

In [43]:
def get_users():
    """
    This function retrieves all users information from a database
    IN: 
    OUT: Values from DB as LIST of Dict
    Type: LIST
    """
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    query = "SELECT * FROM Inventory" ## SQL QUERY
    data = cur.execute(query).fetchall() ## EXECUTING SQL QUERY
    dct = sort_as_dict(cur, data)
    close_sql_connection(con) ## Closing connection
    return dct

In [44]:
def sort_as_dict(cur, data):
    """
    This function receives cur, data, where:
    1. cur will be used to retrieve columns
    2. data will be used to retrieve values
    This function will return a list of dictionary {columns:values}
    """
    ## List Comprehension
    columns = [desc[0] for desc in cur.description] ## GETTING COLUMNS NAMES FROM DB
    result = []
    for row in data:
        row = dict(zip(columns, row))
        result.append(row)
        
    return result

In [45]:

print(get_users())

[{'ID': 1, 'Item': 'Tent', 'Category': 'Outdoors', 'Quantity': 1000, 'Price': 75, 'Date': '03/21/2022'}]