In [1]:
import sqlite3
from datetime import date

In [2]:
import time

In [3]:
PATH = "C:\\Users\\Owner\\Desktop\\DEVOPS_COURSE\\SQL_practice\\"
FILENAME = "Inventory.db"
FILE = PATH + FILENAME

In [4]:
def set_sql_connection():
    """
    This function will create connection to a database, using sqlite3 module
    This function returns a Connection object 
    """
    try:
        con = sqlite3.connect(FILE)
        return con
    except OperationalError as e:
        print(str(e))

In [5]:
def set_cursor(con):
    """
    This function will create a Cursor object, once a connection had been made using set_sql_connection
    IN: con
    TYPE: sqlite3.connect
    OUT: cur
    TYPE: sqlite3.connect.cursor
    """
    cur = con.cursor()
    return cur

In [6]:
def close_sql_connection(con):
    """
    This function will commit any changes to an open sql connection and closes it.
    IN: con
    TYPE: sqlite3.connect 
    """
    con.commit()
    con.close()

In [7]:
def get_items():
    """
    This function retrieves all users information from a database
    IN: 
    OUT: Values from DB as LIST of Dict
    Type: LIST
    """
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    query = "SELECT * FROM Inventory" ## SQL QUERY
    data = cur.execute(query).fetchall() ## EXECUTING SQL QUERY
    dct = sort_as_dict(cur, data)
    close_sql_connection(con) ## Closing connection
    return dct

In [8]:
def sort_as_dict(cur, data):
    """
    This function receives cur, data, where:
    1. cur will be used to retrieve columns
    2. data will be used to retrieve values
    This function will return a list of dictionary {columns:values}
    """
    ## List Comprehension
    columns = [desc[0] for desc in cur.description] ## GETTING COLUMNS NAMES FROM DB
    result = []
    for row in data:
        row = dict(zip(columns, row))
        result.append(row)
        
    return result

In [9]:
def is_item_exist(item):
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    query = "SELECT * FROM `Inventory`" ## SQL QUERY
    data = cur.execute(query).fetchall() ## EXECUTING SQL QUERY
    close_sql_connection(con)
    for row in data:
        if row[1] == item:
            return True
    return False

In [10]:
def insert_item(item, category, quantity, price, date):
    """
    This function inserts a new user into an existing database, once validating that the user or email doesnt exist
    """
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    if not (is_item_exist(item)): ## is exist validation
        query = "INSERT INTO Inventory (`Item`,`Category`,`Quantity`,`Price`,`Date`) VALUES (?,?,?,?,?)" ## PREPARED STATEMENT
        cur.execute(query, (item, category, quantity, price,date)) ## PREPARED STATEMENT
        print(f"New item had been added with values of: {item, category, quantity, price, date}")
    else:
        print("Item already exists")
    close_sql_connection(con)

In [11]:
def update_price(item,price):
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    if (is_item_exist(item)):
        query = """UPDATE Inventory set Price = ? where Item = ?"""
        val = (price, item)
        cur.execute(query, val)
        print(f"New item had been changed with values of: {item, price}")
    else:
        print("Item not exists")
    close_sql_connection(con)

In [12]:
def update_quantity(item,quantity):
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    if (is_item_exist(item)):
        query = """UPDATE Inventory SET Quantity = ? WHERE Item = ?"""
        val = (quantity, item)
        cur.execute(query, val)
        print(f"New item had been changed with values of: {item, quantity}")
    else:
        print("Item not exists")
    close_sql_connection(con)

In [13]:
def update_item_name(item,name):
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    if (is_item_exist(item)):
        query = """UPDATE Inventory SET Item = ? WHERE Item = ?"""
        val = (name, item)
        cur.execute(query, val)
        print(f"New item had been changed with values of: {item, name}")
    else:
        print("Item not exists")
    close_sql_connection(con)

In [14]:
def update_category(item,cat):
    con = set_sql_connection() ## Creates connection
    cur = set_cursor(con) ## Creates Cursor
    if (is_item_exist(item)):
        query = """UPDATE Inventory SET Category = ? WHERE Item = ?"""
        val = (cat, item)
        cur.execute(query, val)
        print(f"New item had been changed with values of: {item, cat}")               
    else:
        print("Item not exists")
    close_sql_connection(con)

In [15]:
print(get_items())
print(is_item_exist('Tent'))

today = date.today()
print("Today's date:", today)

insert_item('Sal','Furniture',120,5400,today)

[{'ID': 1, 'Item': 'Tent', 'Category': 'Outdoors', 'Quantity': 1000, 'Price': 75, 'Date': '03/21/2022'}, {'ID': 2, 'Item': 'New_Saloon', 'Category': 'Furniture', 'Quantity': 122, 'Price': 12222, 'Date': '2022-03-21'}, {'ID': 3, 'Item': 'Saloon2', 'Category': 'Furniture', 'Quantity': 122, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 4, 'Item': 'Saloon3', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 5, 'Item': 'Saloon4', 'Category': 'Furniture', 'Quantity': 123, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 6, 'Item': 'Saloon5', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 7, 'Item': 'Saloon6', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5430, 'Date': '2022-03-21'}, {'ID': 8, 'Item': 'Saloon7', 'Category': 'Furniture', 'Quantity': 124, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 9, 'Item': 'Saloon10', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5420, 'Date': '2022-03-21'}, {'ID': 10, 'Item': 'Saloon11', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 11, 'Item': 'Saloon12', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5420, 'Date': '2022-03-21'}, {'ID': 12, 'Item': 'Saloon13', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 13, 'Item': 'Saloon14', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5401, 'Date': '2022-03-21'}, {'ID': 14, 'Item': 'Saloon15', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5100, 'Date': '2022-03-21'}, {'ID': 15, 'Item': 'Saloon16', 'Category': 'Furniture', 'Quantity': 120, 'Price': 5400, 'Date': '2022-03-21'}, {'ID': 16, 'Item': 'Saloon', 'Category': 'Furniture', 'Quantity': 122, 'Price': 5400, 'Date': '2022-03-21'}]
True
Today's date: 2022-03-21

OperationalError: database is locked

In [22]:
update_item_name('Saloon10','New_Saloon5855')

OperationalError: database is locked

In [ ]:
update_quantity('Saloon',122)

In [ ]:
update_price('Salo99on',12222)

In [ ]:
update_category('Saloon10','new_cat')